
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 

  }

header {
  background-color: #ff3b3c; /* Ejemplo de color */
}

body,
html {
font-family: "Inter", sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;

}


/* Hero section o el banner grande de tecnologia */




  .logo{
    position: relative;
    left: 50px;
  }

 

  .search {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }


  input[type="text"]::placeholder {
             
    /* Firefox, Chrome, Opera */
    text-align: center;
}


.search .form input {
  height: 10px;
  border-radius: 14px;
  border: none;
  width: 190px;
  padding: 20px;
  box-sizing: border-box;
}










.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}










.tractor{
  position: relative;
  top: 10px;
  width: 25px;
}

/* explicacion de hijos nth-child*/
.social ul li:nth-child(2){
position: relative;
top: 5px;
}

.social{
  position: relative;
  left: -100px;
}




.search .social ul li {
  padding: 0 10px;
}


.nav {
  padding: 10px 0;
}

  





.nav {
  padding: 30px 0 40px 0;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}



.nav ul li{
  margin-right: 110px

}

.nav ul li {
  list-style: none;    
}


.nav ul li a {
  
  color: #fff6f6;   
  text-decoration: none;
  font-weight: bold;
}








/* main */


main{
  padding: 50px;
  height: auto;
}

main .columns-container{
  flex: 1;
  display: flex;
  justify-content: space-around;


}

.product-images-block, 
.product-description-block, 
.roduct-checkout-block{

  flex: 1;

}


.product-description-block{
  position: relative;
  left: -156px;
}

.product-description-block .titulo {
  flex: 1;
  color: #333; /* Elige un color adecuado */
  font-size: 24px; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}




.product-description-block .selector fieldset  {
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px; 
  width: 75%;
  border-radius: 15px;
  font-size: 15px;

}




.product-description-block .selector fieldset select{
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;


  
}
























 /*color modificando tambien los footer */
 .foo-general{
  background-color: #7525A7;
  color: #fff6f6;
}








.foo-sector1{
  display: flex;
  justify-content: space-around;
  

}


.foo-sector1 ul {
  list-style: none;

}

.foo-sector1 ul li{
  padding-bottom: 5px;
}

.foo-sector1{
  padding-top: 25px;
  padding-bottom: 20px;
}


.foo-sector1 h4{
  padding-bottom:20px ;
}


.foo-sector1 .col ul li a {
  color: white;
  text-decoration: none;
}


.foo-sector1 .col:nth-child(3) {
  position: relative;
  bottom: 20px;
}
.foo-sector1 .col:nth-child(4) {
  position: relative;
  bottom: 20px;
}



.lineasepa{
  
  position: relative;
  left: 50px;
  width: 1200px;
}



.foo-sector3{
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 25px;
}















@media (max-width: 768px){

  header{

    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }

  .search{
    display: flex;
    flex-direction: column;
  
    position: relative;
    left: -50px;
    top: 45px;
   
  }



.search nav{
  
  padding: 100px;
  position: relative;
  left: -10px;
 
}


.nav ul li{
  display: flex;
  justify-content: center;
  position: relative;
  left: -60px;
  top: 20px;
}

  

  .social{
    margin-top: 2px;
    position: relative;
    left: -10px;
  }

.search form  input{
  width: 5px;
  
}

.nav ul{
display: block;
position: relative;
left: 35px;
}



.title-container span:nth-child(1){

  position: relative;
  right: 1px;
  font-size: 15px;


}
 


.product-container{


  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 10fr);
    
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.product-card:nth-child(n){
  position: relative;
  left: 30px;
  align-items: center;

}

.product-info{
  background-color: #F0F0F0;
 
  margin-bottom: 25px;
  flex-direction: column;
  display: flex;
  margin: 10px 250px 3px 10px;
  border-radius: 0% 0% 10% 10%;
  padding: 5px;
  justify-content: center;
  position:initial;
  
}




.lineasepa{
  width: 10px;
}



}













/*media query de telefono*/

@media (max-width: 425px){

  header{

    width: 425px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }

  


div.form{
  position: relative;
  left: 50px;
}

.nav{
  position: relative;
  left: 170px;
  width: 240px;
}

.nav ul{
  width: 220px;
  height: 200px;
  position: relative;
  left: 10px;
}

.search ul{
  position: relative;
  left: 60px;
}

.nav ul li{
  
  width: 150px;
  left: -35px;
}




.title-container span:nth-child(1){
  font-size: 30px;
  position: relative;
  left: 20px;

}

.title-container span:nth-child(2){
  font-size: 54px;

}












.product-card:nth-child(n) {
  position: relative;
  left: 0px;
  align-items: center;
}









.product-card img{
  margin-bottom: 10px;
  margin-top: 10px;
}


.product-info {
  margin: auto;
 width: 55%;
  font-size: 11px;

}

.product-info span:nth-child(1){
  font-weight:bold;
  font-size: 12px;

}


.product-description{
  color:#736280 ;
  font-size: 8px;
}


.price{
  font-weight:bold;
  font-size: 13px;
}

.discount{
  color: #5FA56B;
  font-size: 11px;
  position: relative;
  left: 120px;
}














}








@media (min-width: 700px){


 


    .product-info{
        background-color: #F0F0F0;
        margin-top: 15px;
        margin-bottom: 25px;
        flex-direction: column;
        display: flex;
        margin: 10px 250px 3px 10px;
        
        border-radius:  0% 0% 10% 10%;;
        padding:5px;

        position: relative;
        left: 110px;

    }



    .product-price-block {
      display: flex;
      margin: 5px 0;
      justify-content: space-between;
      align-items: center;
    }


    .product-title{
        font-weight:bold;
        font-size: 13px;
    }


    .product-description{
        color:#736280 ;
        font-size: 8px;
    }

    .price{
        font-weight:bold;
        font-size: 13px;
    }
    .discount{
        color: #5FA56B;
        font-size: 11px;
        position: relative;
        left: 2px;
    }



    .product-tax-policy{
        text-align: left;
        font-size: 7px;

    }







}




