
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 

  }

header {
  background-color: #ff3b3c; /* Ejemplo de color */
}

body,
html {
font-family: "Inter", sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;

}


/* Hero section o el banner grande de tecnologia */




  .logo{
    position: relative;
    left: 50px;
  }

 

  .search {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .search .form {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }


  input[type="text"]::placeholder {
             
    /* Firefox, Chrome, Opera */
    text-align: center;
}


.search .form input {
  height: 10px;
  border-radius: 14px;
  border: none;
  width: 190px;
  padding: 20px;
  box-sizing: border-box;
}










.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}










.tractor{
  position: relative;
  top: 10px;
  width: 25px;
}

/* explicacion de hijos nth-child*/
.social ul li:nth-child(2){
position: relative;
top: 5px;
}

.social{
  position: relative;
  left: -100px;
}




.search .social ul li {
  padding: 0 10px;
}


.nav {
  padding: 10px 0;
}

  





.nav {
  padding: 30px 0 40px 0;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}



.nav ul li{
  margin-right: 110px

}

.nav ul li {
  list-style: none;    
}


.nav ul li a {
  
  color: #fff6f6;   
  text-decoration: none;
  font-weight: bold;
}








/* main */


main{
  padding: 50px;
  height: auto;
}

main .columns-container{
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 50px;


}

.product-images-block, 
.product-description-block, 
.roduct-checkout-block{
  margin: 0px 1px;
  flex: 1;

}


/* detalles de imagens pequeñas*/
.product-images-block {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 100%;
  overflow: hidden; 
  /* Asegúrate de que las imágenes no desborden el contenedor */
}


.product-images-block .thumbnail-container {
 grid-column :1;  /* el conatiner le ponemos como primera columna*/
 margin: 3px;
}



.product-images-block .thumbnail-container img{
  max-width: 100%;
  height: auto;

 object-fit: contain;
 object-position: center center;
}



.product-images-block .thumbnail-container:nth-child(2){

  position: relative;
  bottom: 50px;
}


.product-images-block .main-image{
  width: 100%;
  grid-row: 1 / 5;
  grid-column: 2 / 5;
}




















.product-description-block{
  position: relative;
  left: 0px;
  padding: 20px;
}

.product-description-block .titulo {
  flex: 1;
  color: #333; /* Elige un color adecuado */
  font-size: 24px; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}




.product-description-block .selector fieldset  {
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px; 
  width: 95%;
  border-radius: 15px;
  font-size: 15px;

}




.product-description-block .selector fieldset select{
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;


  
}


 














.checkout-container {
  background-color: #ebebeb; /* Color de fondo claro */
  padding: 40px; /* Espaciado interno */
  width: 400px;
  border-radius: 2px; /* Bordes ligeramente redondeados */
  
}

.checkout-total-label {
  color: #ff3b3c; /* Color distintivo para el texto 'Total:' */
}
.checkout-total-price {
  font-size: 28px; /* Tamaño grande para el precio */
  font-weight: 700; /* Fuente en negrita */
  margin-top: 10px; /* Espacio por encima del precio */
}

.checkout-description {
  line-height: 20.4px; /* Espaciado de línea para mejorar la legibilidad */
  word-wrap: break-word; /* Asegura que el texto no desborde el contenedor */
}

.checkout-policy-list {
  list-style-type: none; /* Elimina los marcadores de lista */
  margin-bottom: 30px; /* Espacio debajo de la lista */
}

.checkout-policy-list li {
  display: flex; /* Alineación horizontal de íconos y texto */
  margin: 15px 0; /* Espacio entre elementos de la lista */
}

.checkout-policy-list li .policy-icon {
  margin-right: 15px; /* Espacio entre el ícono y el texto */
}


.checkout-process .top {
  display: flex; /* Alinea el input y el botón horizontalmente */
  margin-bottom: 10px; /* Espacio debajo del grupo superior */
}






.checkout-process .top input {
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}.btn-primary {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}

.btn-outline {
  width: 100%;
  border: 1px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}

















.sales-block{
 margin-top: 50px;
 padding: 50px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-gap: 50px;
}


.sales-block a {
  text-decoration: none;
  color: initial;
}


.sales-block h2{
  grid-row: 1;
  grid-column: 1 / 4 ;
  justify-content: center; 
  text-align: center;
  font-size: 40px;
}



.product-card{

  border-radius: 14px;
  width: auto;
  overflow: hidden;
}



.product-info{
  background-color: #F0F0F0;
  margin-top: -2px;
 
  flex-direction: column;
  display: flex;
 
  
  border-radius:  0% 0% 10% 10%;;
  padding:5px;

 

}


.product-img{
  width: 100%;
}

.product-price-block {
display: flex;
margin: 5px 0;
justify-content: space-between;
align-items: center;
}


.product-title{
  font-weight:bold;
  font-size: 13px;
}


.product-description{
  color:#736280 ;
  font-size: 8px;
}

.price{
  font-weight:bold;
  font-size: 13px;
}
.discount{
  color: #5FA56B;
  font-size: 11px;
  position: relative;
  left: 2px;
}



.product-tax-policy{
  text-align: left;
  font-size: 7px;

}


















 /*color modificando tambien los footer */
 .foo-general{
  background-color: #7525A7;
  color: #fff6f6;
}








.foo-sector1{
  display: flex;
  justify-content: space-around;
  

}


.foo-sector1 ul {
  list-style: none;

}

.foo-sector1 ul li{
  padding-bottom: 5px;
}

.foo-sector1{
  padding-top: 25px;
  padding-bottom: 20px;
}


.foo-sector1 h4{
  padding-bottom:20px ;
}


.foo-sector1 .col ul li a {
  color: white;
  text-decoration: none;
}


.foo-sector1 .col:nth-child(3) {
  position: relative;
  bottom: 20px;
}
.foo-sector1 .col:nth-child(4) {
  position: relative;
  bottom: 20px;
}



.lineasepa{
  
  position: relative;
  left: 50px;
  width: 1200px;
}



.foo-sector3{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 25px;
}















@media (max-width: 768px){

  header{

    width: 555px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }



  .search .form input{


    width: 300px;
  }



  .search{
    display: flex;
    flex-direction: column;
  
    position: relative;
    left: -50px;
    top: 45px;
   
  }



.search nav{
  
  padding: 100px;
  position: relative;
  left: -10px;
 
}


.nav ul li{
  display: flex;
  justify-content: center;
  position: relative;
  left: -60px;
  top: 20px;
}

  

  .social{
    margin-top: 2px;
    position: relative;
    left: -10px;
  }

.search form  input{
  width: 5px;
  
}

.nav ul{
display: block;
position: relative;
left: 35px;
}



.title-container span:nth-child(1){

  position: relative;
  right: 1px;
  font-size: 15px;


}
 





.container{
  position: relative;
  left: -80px;
}




main .columns-container {

  padding-top: 10px;
  
  padding-bottom: 10px;
  padding-left: 50px;
  width: 600px ;

}
 

.product-images-block {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 100%;
  overflow: hidden;
}

.product-images-block {
position: relative;
right: 10px;

}







.product-images-block .thumbnail-container:nth-child(1) {
  width: 50px;
  position: relative;
   bottom: 0px; 

}


.product-images-block .thumbnail-container:nth-child(2) {
    width: 50px;
    position: relative;
     bottom: 30px; 

}




.product-images-block  .main-image{
  width: 100px;

}




.product-images-block .main-image {
  width: 100px;
  grid-row: 1 / 5;
  grid-column: 2 / 5;
}

.product-card:nth-child(n){
  position: relative;
  left: 30px;
  align-items: center;

}

.product-info{
  background-color: #F0F0F0;
 
  margin-bottom: 25px;
  flex-direction: column;
  display: flex;
  margin: 10px 250px 3px 10px;
  border-radius: 0% 0% 10% 10%;
  padding: 5px;
  justify-content: center;
  position:initial;
  
}




.lineasepa{
  width: 10px;
}










.product-description-block .selector fieldset {

  width: 10%;
  height: 20px;
  font-size: 8px;
}

.product-description-block .titulo{
  font-size: 10px;
}

.product-description-block .selector fieldset select {
  padding: 1px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 5px;
}




.product-description-block {
  position: relative;
  left: 40px;
  padding: 1px;
  width: px;
}


.product-description-block .description h1{
  font-size: 10px;
}


.product-description-block .description p{
  font-size: 10px;
}
            
                       






.checkout-container {
 
  padding: 10px 10px 10px 15px; /* Espaciado interno */
  width: 200px;
  border-radius: 2px; /* Bordes ligeramente redondeados */
  
}


.checkout-total-label {
  font-size: 10px;
}

.checkout-total-price {
  font-size: 10px; /* Tamaño grande para el precio */
  font-weight: 700; /* Fuente en negrita */
  margin-top: 10px; /* Espacio por encima del precio */
}

.checkout-description {
  line-height: 10px; /* Espaciado de línea para mejorar la legibilidad */
  word-wrap: break-word; /* Asegura que el texto no desborde el contenedor */
  font-size: 7px;
}

.checkout-policy-list {
  list-style-type: none; /* Elimina los marcadores de lista */
  margin-bottom: 30px; /* Espacio debajo de la lista */
}

.checkout-policy-list li {
  display: flex; /* Alineación horizontal de íconos y texto */
  margin: 15px 0; /* Espacio entre elementos de la lista */
  font-size: 7px
}

.checkout-policy-list li .policy-icon {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}


.checkout-process .top {
  display: flex; /* Alinea el input y el botón horizontalmente */
  margin-bottom: 8px; /* Espacio debajo del grupo superior */
  
}

.product-checkout-block{
  position: relative;
  left: 50px;
}




.checkout-process .top input {
  height: 20px;
  border-radius: 10px;
  border: none;
  width: 52px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;


}

.btn-primary {
  width: 40%;
  font-size: 8px;
  height: 20px;

}

.btn-outline {
  width: 50%;
  height: 20px;
  font-size: 8px;
  position: relative;
  left: 20%;
}





.foo-general{
  width: 75%;
}





}













/*media query de telefono*/

@media (max-width: 425px){

  header{

    width: 569px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
  }

  


div.form{
  position: relative;
  left: 58px;
}

.nav{
  position: relative;
  left: 245px;
  width: 150px;
  
}

.nav ul{
  width: 220px;
  position: relative;
  left: 1px;
}


.search{

  display: flex;
  justify-content:flex-start;
}
.search ul{
  position: relative;
  left: 60px;
}

.nav ul li{
  
  width: 150px;
  left: -35px;
}




.title-container span:nth-child(1){
  font-size: 30px;
  position: relative;
  left: 20px;

}

.title-container span:nth-child(2){
  font-size: 54px;

}




main .columns-container {
  flex: 1;
  display: grid;
  grid-template-columns: 200fr 2fr 4fr;
  flex-wrap: wrap;
  padding: 0px 50px;
}




.product-description-block {
  grid-row:2 ;
  grid-column: 1 / 4;
  justify-content: center;
  text-align: center;
  font-size: 40px;

}

.product-description-block {
  margin-top: 18px;
  }
  
  .product-description-block .titulo{
    font-size: 22px;
  }

  .product-description-block .selector fieldset {
    width: 30%;
    height: 25px;
    font-size: 12px;
    position: relative;
    left: 170px;
}


.product-description-block .selector fieldset select {
 
  font-size: 12px;
}
  
.product-images-block {
  display: grid;
  grid-template-columns: 1fr 10fr;
  max-width: 100%;
  
}
.product-images-block .main-image {
  width: 270px;
}











.product-checkout-block {
  position: relative;
 left: 10px; 
}

.checkout-container {
  padding: 10px 10px 10px 10px;
  width: 200px;
  border-radius: 2px;
}

.checkout-total-label {
  font-size: 20px;
}

.checkout-total-price {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}


.checkout-description {
  line-height: 10px;
  word-wrap: break-word;
  font-size: 10px;
}

.checkout-policy-list {
  
  margin-bottom: 1px;
}

.checkout-policy-list li {
 
  margin: 10px 0;
  font-size: 12px;
}

.checkout-process .top {
  display: flex;
  margin-bottom: 8px;
  position: relative;
  left: 10%;
}


.btn-outline {
 
  position: relative;
  left: 25%;
}

.sales-block {
  margin-top: 50px;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-gap: 50px;
  max-width: 200%;
  width: 190%;
  position: relative;
  left: 35px;
}


.sales-block h2 {
  grid-row: 1;
  grid-column: 1 / 4;
  justify-content: center;
  text-align: center;
  font-size: 15px;

}

.product-card img{
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-img {
  width: 130%;
}

.product-info {
  margin-bottom: 25px;
  margin: 10px 2px 3px 10px;
  border-radius: 0% 0% 10% 10%;
  /* padding: 5px; */
  justify-content: center;
  position: initial;
  padding: 5px;


}

.product-card:nth-child(n) {
  position: relative;
  left: 0px;
  align-items: center;
}













.product-info span:nth-child(1){
  font-weight:bold;
  font-size: 12px;

}


.product-description{
  color:#736280 ;
  font-size: 8px;
}


.price{
  font-weight:bold;
  font-size: 13px;
}



.discount {
  
  font-size: 11px;
  position: relative;
  left: 0px; 
}

.foo-general {
 width: 145%;
}

}









@media (min-width: 700px){


 





}




